# Copyright 2017 Donour Sizemore
#
# This file is part of RacePi
#
# RacePi is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 2.
#
# RacePi is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with RacePi.  If not, see <http://www.gnu.org/licenses/>.

# Rules for Can Devices UCCB
ACTION=="add", ENV{ID_MODEL}=="CAN_USB_ConverterBasic", ENV{SUBSYSTEM}=="tty", RUN+="/usr/bin/logger [udev] Loading CANUSB device (UCCB)", RUN+="/usr/local/bin/slcan_load.sh $kernel"
ACTION=="remove", ENV{ID_MODEL}=="CAN_USB_ConverterBasic", ENV{SUBSYSTEM}=="usb", RUN+="/usr/bin/logger [udev] Unloading CANUSB device (UCCB)", RUN+="/usr/local/bin/slcan_unload.sh"

# CANable adapter
ACTION=="add", ENV{ID_MODEL}=="CANtact_dev", ENV{SUBSYSTEM}=="tty", RUN+="/usr/bin/logger [udev] Loading CANUSB device (CANtact)", RUN+="/usr/local/bin/slcan_load.sh $kernel"
ACTION=="remove", ENV{ID_MODEL}=="CANtact_dev", ENV{SUBSYSTEM}=="usb", RUN+="/usr/bin/logger [udev] Unloading CANUSB device (CANtact)", RUN+="/usr/local/bin/slcan_unload.sh"
