<div class="ui ten wide column" >
    <table class="ui striped selectable fixed table" ng-controller="sessionDataController">
        <tr ng-repeat="x in sessions" ng-click="vm.selectSession(x)">
            <td>{{ x[0] }}</td>
            <td><i>{{ x[1] }}</i></td>
        </tr>
    </table>
</div>



<table border="1">
    <tr>
        <td valign="top">
            <table ng-controller="sessionDataController">
                <tr ng-repeat="x in gpsSamples">
                    <td>{{ x[0] }}</td>
                    <td>{{ x[3] }}</td>
                    <td>{{ x[4] }}</td>
                    <td>{{ x[5] }}</td>
                </tr>
            </table>

        </td>
        <td valign="top">
            <table ng-controller="sessionDataController">
                <tr ng-repeat="x in imuSamples">
                    <td>{{ x[0] }}</td>
                    <td>{{ x[3] }}</td>
                    <td>{{ x[4] }}</td>
                    <td>{{ x[5] }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>